<div data-alert class="alert-box radius">
  There are no pools running today
</div>

<section class="pools active panel">
  <header>
    <h2 class="subheader">Active</h2>
    <hr>
  </header>
  <ul>
    <% @pools.active do |pool| %>
      <li class="pool"><%= pool.name %></li>
    <% end %>
  </ul>
</section>

<section class="pools not_started panel">
  <header>
    <h2 class="subheader">Not Started</h2>
    <hr>
  </header>
  <ul>
    <% @pools.not_started do |pool| %>
      <li class="pool"><%= pool.name %></li>
    <% end %>
  </ul>
</section>