There are no pools running today

<section class="pools active">
  <header>
    <h2>Active</h2>
  </header>
  <ul>
    <li class="pool">The Elite Survivor Pool</li>
  </ul>
</section>

<section class="pools not_started">
  <header>
    <h2>Not Started</h2>
  </header>
  <ul>
    <li class="pool">Work Survivor Pool</li>
    <li class="pool">Family Survivor Pool</li>
  </ul>
</section>