<div data-alert class="alert-box radius">
  There are no pools running today
</div>

<% @pools.grouped_by_status do |status, pools| %>

  <section class="pools <%= status %> panel">
    <header>
      <h2 class="subheader"><%= status.titleize %></h2>
      <hr>
    </header>
    <ul>
      <% pools.each do |pool| %>
        <li class="pool"><%= pool.name %></li>
      <% end %>
    </ul>
  </section>

<% end %>
