<h1 class="pool-name"><%= @pool.name %></h1>
<h2 class="subheader"><small><%= @pool.status.titleize %></small></h2>
<div class="panel">
  <ul class="no-bullet">
    <li><strong>Start date:</strong> October 1, 2014</li>
    <li><strong>End date:</strong> December 24, 2014</li>
  </ul>
</div>
<div class="panel">
  <h3>30</h3>
  <h4>Bragging Points</h4>
</div>
<div class="panel">
  <h3>12 out of 15</h3>
  <h4>Players Remaining</h4>
</div>